.cars-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mint-box {
  height: 220px;
  background-image: linear-gradient(
    to right,
    rgba(156, 234, 222, 0),
    rgba(156, 234, 222, 1)
  );
}

ul.ul-choices {
  background-color: white;
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 3%;
  position: sticky;
  margin-bottom: 1%;
}
div.cars-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-top: 1%;
  margin-top: 1%;
  padding-left: 0;
  height: 900px;
}

.choices {
  border: rgb(231, 227, 227) solid 0.5px;
  height: 120px;
  width: 80px;
  font-family: "Allerta Stencil", sans-serif;
  outline: #b8d8ba solid 2px;
}

.choices:hover {
  border-bottom: limegreen solid 2px;
  outline: red solid 0.5px;
}
.cars-new-button {
  border: none;
  color: rgb(58, 45, 45);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  background-color: transparent;
}
div.choices a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choices-car a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choices-car a {
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
}
div.choices a:link {
  color: #333;
}
div.choices-car a:link {
  color: #333;
}
div.choices a svg {
  color: rgb(26, 105, 101);
}

li:nth-child(2) a svg {
  color: rgb(233, 47, 0);
}
li:nth-child(3) a svg {
  color: rgb(29, 26, 26);
}

.gren {
  background-color: rgb(17, 138, 128);
  height: 110px;
  width: 80%;
  border-radius: 3%;
  margin-left: 2%;
  text-align: left;
  padding: 21px;
}
.gren > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 16px;
}
.whit {
  padding: 21px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 130px;
  width: 70%;
  border-radius: 3%;
  margin-left: 5%;
  text-align: left;
  color: rgb(97, 87, 87);
}

.toggle-form {
  margin-right: 44%;
}

div.grena {
  background-color: rgb(17, 138, 128);
  height: 110px;
  width: 80%;
  border-radius: 3%;

  text-align: left;
  padding: 21px;
  margin-right: 40%;
}
.grena > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 40;
  font-size: 16px;
}
div.whita {
  margin-right: 40%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 130px;
  width: 80%;
  border-radius: 3%;
  text-align: left;
  color: rgb(97, 87, 87);
  padding: 21px;
}


.circle-car {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url("../../Images/addcaroff.png");
  align-self: center;
  background-position: center;
  background-size: cover;
  outline: black 2px solid;
  margin-bottom: 40px;
}
.circle-car:hover {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-image: url("../../Images/addcaron.png");
  align-self: center;
  background-position: center;
  background-size: cover;
  outline: rgb(255, 254, 254) 2px solid;
}
.button-newcar {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
