.left-nav {
  display: grid;
  grid-template-columns: auto ;
  height: 540px;
  width: 25%;
  margin: auto;
  z-index: 11;
  border: solid rgb(221, 221, 221) 0.5px;
  align-items: center;
  background-image: url("../../Images/cabinet1.png");
 margin-top: 50px;
  background-position: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 90%;
}
.left-nav-mb{
  visibility: hidden;
}
.hamb{
  margin-top: 2%;
  visibility: hidden;
}

/* .left-nav-mb{
  visibility: hidden;
} */

.left-nav a > h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration-line: none;
}

.left-nav a:hover {
  color: blue;
  text-decoration-line: none;
}
.left-nav a {
  text-decoration-line: none;
}

.chrome {
width:44px;
height:100px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; */
  /* padding-top: 90px;
  margin-bottom: 16px; */

  /* justify-items: center;
  justify-content: center; */
  grid-column-start: 1;
  grid-column-end: 1;
  height: 30px;
  /* margin-bottom: 166px; */
}



.nav-expenses {
  display: flex;
  justify-content: center;
  color: white;
  width: 200px;
  /* height: 78px; */
  /* padding: 6px; */
  /* align-items: center; */
  /* background-image: linear-gradient(
    rgb(42, 39, 39) 2%,
    rgb(29, 29, 43) 10%,
    rgb(36, 42, 64) 55%,
    rgb(6, 6, 13) 97%,
    rgb(62, 62, 69) 99%
  ); */
  background-image: url("../../Images/label1.png");
  outline: solid rgb(139, 125, 125) 1.5px;
  /* border-radius: 25px; */
  border-left: rgb(45, 62, 72) 0.1px solid;
  border-right: rgb(40, 49, 55) 2px solid;
  background-position: center;
  /* margin-bottom: 20px; */
  

}

.nav-expenses:hover {
  height: 55px;
  width: 200px;
  /* background-image: linear-gradient(
    rgb(37, 37, 57) 10%,
    rgb(24, 26, 32) 55%,
    rgb(8, 8, 9) 97%,
    rgb(36, 36, 55) 99%
  ); */

  /* outline: transparent;
  border-radius: 25px;
  border-left: transparent;
  border-right: transparent; */

  cursor: pointer;
}

div.nav-expenses > a {
  color: white;
}
.nav-expenses > p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.nav-expenses > a:link {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: black;
}
.nav-expenses > a:active {
  font-size: 12px;
  padding: 0;
  color: lime;
  margin: 0;
}

div.nav-expenses > p.total {
  font-family: "Orbitron", sans-serif;
  color: black;
}

div.nav-expenses > button {
  color: black;
}
.nav-expenses > p {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color:black
}
.nav-expenses > button {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

button.b-delete {
  background-image: url("../../Images/delbutton.png");
}