.sign-box{
  position: relative;
    height: 4800px;
    background-color: rgb(44, 45, 45);
    /* padding: 50px 10px; */

}

.top {
  background-color: #fffdfd;
  width: 100%;
  height:80px;
  display: flex;
  justify-content: space-between;
  /* border-bottom: solid 1px rgb(187, 179, 179);
  border:solid 5px orange; */
  padding-right: 19px;
  padding-bottom: 7px;
  padding-top: 7px;

  
  
}
.grabber{
  height: 600px;
  width:100%;
  background-color: rgb(44, 45, 45);
  display: flex;
  padding-left: 8%;
  margin-bottom: 70px;
  

}
/* 
.left-MJ{

  width: 50%;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/398-ted9341-kwan.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=9c627362c30344057a6dbd40753338c4");
background-repeat: no-repeat;
background-size: cover;
} */

.right{
  height: 100%;
  width: 46%;
}
.left-MJ{
  height: 100%;
  width:46%;
  display:flex;
  flex-direction: column;
}
.psg{
  width: 100%;
  height:100%;
}
.giffy{
  width: 100%;
  height: 50%;
}
.psgz{
  width: 100%;
  height:50%;
}
.squares{
  width: 100%;
  height: 1900px;
  background-color: rgb(44, 45, 45);
  padding-top:3px;
  display: flex;
  justify-content: center;
}
.squares-img{

  background-image: url("../Images/squares.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 100%;

}
.eventbrite{
  margin-top:60%;
  width:230px;
  font-size: 19px;
  background-color: rgb(245, 238, 226);
}
.sunydiv{
 
width: 16%;
 padding-left: 1%; 
display: flex;
align-items: center;
padding-bottom: 15px;
/* padding-top: 15px; */
/* padding-bottom: 16%; */

}
button.sign-in {
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 12px;
  height:40px;
  width:69%;
  line-height: 100%;
  text-align: center;
  color:rgb(11, 64, 70);
  background-image: linear-gradient(
    rgb(78, 113, 255) 2%,
    rgb(236, 236, 240) 10%,
    rgb(105, 203, 118) 55%,
    rgb(209, 244, 219) 97%,
    rgb(187, 187, 211) 99%
  );
  outline: solid rgb(139, 125, 125) 1.5px;
  border-radius: 25px;
  border-left: transparent;
  border-right: transparent;
 
}
button.sign-in:hover {
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 12px;
  height:38px;
  width:67%;
  line-height: 100%;
  text-align: center;
  background-image: linear-gradient(
    rgb(214, 231, 244) 2%,
    rgb(234, 234, 245) 10%,
    rgb(74, 207, 240) 55%,
    rgb(228, 213, 228) 97%,
    rgb(211, 211, 226) 99%
  );

  cursor: pointer;
}
div.sign-box> nav.nav-login {
  display: flex;
  /* height:844%; */
  
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top: rgb(155, 165, 172) solid .5px;
  justify-content: space-between;
  /* padding-bottom:1%; */
}

div.lend-stretch{
  display: flex;
padding-left:2%; 
width:100%;
height:133px;
width: 100%;
background-color:rgb(31, 31, 33);
padding-top:5px;
/* border:purple solid 4px; */

 
  /* margin-bottom: 3.5%; */

}
.green-logo{
  width: 43%;
  height: 100%;
  /* margin-right: 70%; */
  /* margin-bottom:5%; */
}
.pic{
  width: 50%;
  /* border:rgb(13, 237, 188) solid 4px; */
background-color: grey;
  background-position:center;
  height: 100%;
  /* opacity:.7; */
}
/* section.section-ul{
  height: 44px;
 
} */
ul.nav-ul {

  position: sticky;
  top: 10px;

  padding: 10px;
  display: flex;
  flex-wrap: wrap;
 height: 55px;
  background-color:#335C72;
  width: 100%;
  justify-content: space-around;
  padding-left: 0;
  /* margin-right: 20%; */
  align-items: center;
 /* height: 100%; */
  color:rgb(255, 255, 255);
  margin-bottom: 0;
}

.ds-logo{
  /* line-height: 300%; */
  /* margin-right: 80%; */
  /* border:solid 5px green; */
}

 
/* .nav-ul > li > a> h2:link {
  font-size: 14px;
  font-weight: lighter;
  color:white;
  text-decoration: none;
} */


/* unvisited link */
a:link {
  font-size: 17px;
  font-weight: lighter;
  color:white;
  text-decoration: none;
}

/* visited link */
a:visited {
  font-size: 14px;
  font-weight: lighter;
  color:white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  font-size: 14px;
  font-weight: lighter;
  color:white;
  text-decoration: none;
}

/* selected link */
a:active {
  font-size: 14px;
  font-weight: lighter;
  color:white;
  text-decoration: none;
}








.icon-login{
  /* border:cadetblue solid 4px; */
  display: flex;
  align-items: center;
  width: 11%;



}
.train{  
  background-color: rgb(34, 50, 142);}

.train>.flyer{
  width: 80%;

}
.more-lend>.whatlend{
  width: 80%;
}
.more-lend{
  background-color: rgb(44, 45, 45);
  margin-bottom: 5px;
}
/* .icon-login > button {
  height:40px;
  width: 129px;
  background-image: linear-gradient(
    rgb(97, 150, 191) 2%,
    rgb(169, 169, 244) 10%,
    rgb(209, 204, 255) 55%,
    rgb(99, 67, 99) 97%,
    rgb(49, 49, 66) 99%
  ); */
  /* outline: solid rgb(139, 125, 125) 1.5px;
  border-radius: 25px;
  border-left: rgb(45, 62, 72) 0.1px solid;
  border-right: rgb(40, 49, 55) 2px solid;
} */

 
/* 

ul.nav-ul {
  display: flex;
  align-content: center;
  height: 80px;
  border: 0;
  margin-bottom: 0;
  font-family: "Allerta Stencil", sans-serif;
 
} */

.social-icons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border:solid 5px purple; */
}
.login-body {

  background-image: linear-gradient(
    to right,
    rgba(156, 234, 222, 0),
    rgba(156, 234, 222, 1)
  );

  height: 100vh;
  /* padding-top: 3%; */
}
div.icon-login > button {
  border-radius: 12%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30;
  border: 0.5px grey solid;
}
/* .sign-in {
  background-color: rgb(234, 238, 236);
  color: dark rgb(89, 89, 194);
} */
.sign-up {
  background-color: rgb(241, 241, 176);
  color: rgb(49, 70, 49);
}

.first-image {
  /* position: fixed; */
  width: 40vw;
  height: 60vh;
  left: 49vw;
  top: 25vh;
  opacity: 1;
  background-repeat: no-repeat;
  margin-top: 0;
}

.text-a {
  width: 100%;
  height: 20%;
  background-color: beige;
  margin-top: 70%;
}
.first-section {
  display: flex;
  width: 100%;
}
.intro-text {
  width: 50%;
  z-index: 2;
  margin-left: 2vw;
}
.b {
  color: rgb(84, 16, 80);
  text-align: left;
}
.g {
  color: rgb(48, 139, 71);
}
.start-up {
  background-color: rgb(29, 130, 129);
  color: white;
  border-radius: 7%;
  border: lightgrey solid 1px;
}
.logInForm {
  position: fixed;
  width: 35vw;
  right: 35vw;
  top: 7vw;
  background-color: #f8fefe;
  padding: 2vw;
  border: 1px solid rgb(246, 243, 243);
  border-radius: 10px;
  box-shadow: 10px 5px 5px #aeaeae5a;
  z-index: 3;
}
.signUpForm {
  position: fixed;
  width: 35vw;
  right: 35vw;
  top: 7vw;
  background-color: #f8fefe;
  padding: 2vw;
  border: 1px solid rgb(246, 243, 243);
  border-radius: 10px;
  box-shadow: 10px 5px 5px #aeaeae5a;
  z-index: 3;
}
.x-button {
  position: absolute;
  margin-left: 13.9vw;
  margin-top: 1.5vw;
}









@media only screen and (max-width: 500px) {
  .intro-text{
    z-index: 2;
  }
  .login-body {
    font-size: 70%;
    text-align: left;
    padding: 15%;
  }
  .first-image {
    z-index: 0;
    width: 70vw;
    height: 50vh;
    top: 40vh;
    left: 30vw;
  }
  .logInForm{
    width: 84vw;
    right: 8vw;
    top: 20vw;
  }
  .signUpForm{
    width: 84vw;
    right: 8vw;
  }
  .x-button{
    margin-left: 35vw;
  }
}
